.news-swiper .swiper-wrapper {
  max-height: 978px;
}
.swiper {
}
.news-swiper .swiper-wrapper {
  background: #ffffff;
  width: 370px;
  height: 514px;
}
.news-swiper .swiper-wrapper .swiper-slide {
  background: #ffffff;
  width: 370px;
  height: 514px;
  justify-content: start;
  padding-bottom: 100px;
}
.swiper-card {
  position: relative;
}
.card-img {
  position: relative;
  top: 0px;
  width: 100%;
  height: 240px;
  margin-bottom: 30px;
}
.card-text {
  padding-left: 20px;
  padding-right: 20px;
}
.card-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #2c4058;
  margin-bottom: 15px;
}
.card-subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #2c4058;
  margin-bottom: 40px;
}
.user {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.user-avatar {
  margin-right: 20px;
  width: 60px;
  height: 60px;
}

.user-avatar img {
  border-radius: 50%;
}
.user-name {
}
.name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2c4058;
  margin-bottom: 6px;
}
.date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #55b7ff;
}

.news-swiper .swiper-pagination {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  text-align: center;
  transition: 0.3s opacity;
  transform: translateX(-50%);
  z-index: 10;
}

.news-swiper .swiper-pagination .swiper-pagination-bullets {
  background: #ffffff;
}
